# In memory for integration test
# M_VITE_DATABASE_URL=:memory:

# previous - /home/prajwal/.config/pos/pos.db
M_VITE_DATABASE_URL=/home/prajwal/.config/QuickCart/pos.db
M_VITE_MIGRATION_FOLDER=/drizzle

# prod - http://localhost:4722 | dev - http://localhost:4723
VITE_API_BASE_URL=http://localhost:4722
