@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/inter/Inter-Font.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/roboto/Roboto-Font.ttf") format("truetype");
}

@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/geist/Geist.ttf") format("truetype");
}

:root {
  --font-sans: "Inter", sans-serif;
  --font-geist: "Geist", sans-serif;
  --font-serif: Merriweather, serif;
  --font-roboto: "Roboto", sans-serif;

  --background: oklch(98.74% 0.003 247.86);
  --foreground: oklch(0% 0 0);

  --card: oklch(100% 0 0);
  --card-foreground: var(--foreground);

  --popover: oklch(100% 0 0);
  --popover-foreground: var(--foreground);

  --primary: oklch(87.67% 0.165 90.15);
  --primary-foreground: oklch(0% 0 0);

  --secondary: oklch(91.55% 0.004 264.37);
  --secondary-foreground: oklch(15.56% 0.004 257.54);

  --accent: oklch(94.57% 0.001 97.64);
  --accent-foreground: oklch(29.3% 0.015 253.77);

  --muted: oklch(95.46% 0.004 264.37);
  --muted-foreground: oklch(58.67% 0.023 255.5);

  --destructive: oklch(64.69% 0.238 29.23);
  --destructive-foreground: oklch(100% 0 0);

  --border: oklch(88.5% 0.003 116.68);
  --input: var(--border);

  --sidebar: oklch(95.46% 0.004 264.37);
  --sidebar-foreground: oklch(27.07% 0.033 256.29);

  --ring: oklch(77.55% 0.174 90.04);

  --radius: 0.625rem;

  --success: oklch(69.72% 0.209 145.47);
  --success-foreground: oklch(100% 0 0);
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-geist: var(--font-geist);
  --font-serif: var(--font-serif);
  --font-roboto: var(--font-roboto);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
}

@layer base {
  * {
    @apply border-border outline-ring/50 font-geist;
    /*https://github.com/tailwindlabs/tailwindcss/discussions/7429#discussioncomment-4779939*/
    /*Disable increment/decrement button on input*/
    input[type="number"].appearance-none::-webkit-inner-spin-button,
    input[type="number"].appearance-none::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"].appearance-none {
      -moz-appearance: textfield;
    }
  }
  body {
    @apply bg-background text-foreground;
  }
  @media print {
    @page {
      size: auto;   /* let printer use roll */
      margin: 0mm;  /* remove browser default margins */
    }

    body {
      margin: 0;
      padding: 0;
    }

    .receipt {
      width: 80mm; /* common thermal printer width */
    }

    .no-break {
      page-break-inside: avoid;
    }
  }
}
